Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
data1 = [1,2,3,4,5,6,7,8,9,0]
pd.Series(data1)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

Q3.Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [7]:
data3 ={
'Name':["Alice" , "Bob" , "Charlie"],
'Age' : [25 , 30 , 27],
'Gender' : ["Female" , "Male" , "Female"]} 
dataframe = pd.DataFrame(data3)
print(data3)
type(data3)

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

dict

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas Series:

One-dimensional data structure.
Contains a single column of data along with an associated index.
Suitable for working with sequences of data.
Essentially a labeled NumPy array.
Can store homogeneous or heterogeneous data.
Commonly used for time series data, individual variables, or simple data arrays.

Pandas DataFrame:

Two-dimensional data structure.
Tabular in nature, with rows and columns.
Contains multiple columns (variables) of data, each with its own name.
Suitable for working with structured data and relational datasets.
Provides a more comprehensive and flexible way to represent and manipulate data compared to a Series.
Supports various data types within different columns.
Often used for representing datasets imported from CSV files, Excel spreadsheets, or database tables.
Enables SQL-like operations such as joins, groupings, and filtering on structured data.
In summary, Pandas Series are useful for one-dimensional data, while Pandas DataFrames are designed for two-dimensional tabular data, making them more suitable for handling structured datasets and performing advanced data analysis operations.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

#head/Tail
data.head()
#Sahpe
data.shape()
#info
data.info
#Describe
data.describe()
#pivottable
data.pivot_table()
#dropna
datq.dropna()

Q6.Which of the following is mutable in nature Series, DataFrame, Panel?

n Pandas, a Series is mutable, while a DataFrame and a Panel are not mutable.

Series: A Pandas Series is mutable, which means you can change the values in a Series after it has been created. You can assign new values to specific elements in a Series.

DataFrame: A Pandas DataFrame is not mutable. While you can modify the data within a DataFrame, such as adding or deleting rows or columns, you typically do so by creating a new DataFrame or by using DataFrame methods that return a modified copy of the DataFrame.

Panel: In older versions of Pandas (before version 0.25.0), there was a data structure called a "Panel," which was a three-dimensional data structure. However, Panels have been deprecated in favor of using MultiIndex DataFrames for handling higher-dimensional data. MultiIndex DataFrames, like regular DataFrames, are not mutable.

In summary, Series are mutable, while DataFrames and Panels (deprecated) are not considered mutable data structures in Pandas.

6.Create a DataFrame using multiple Series. Explain with an example.

In [9]:
data4 = pd.Series([1,2,3,4,5] , name = 'col-1')
data5 = pd.Series(['!','@','$','%','*'] , name = 'col-2')
dataframe1 = pd.DataFrame({'col-1':data4, 'col-2' : data5})
print(dataframe1)

   col-1 col-2
0      1     !
1      2     @
2      3     $
3      4     %
4      5     *